/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 1px 5px 5px #950740;
    box-shadow: 1px 5px 5px #950740;
    background-color: #faedf2;
    opacity: 0.9;
    min-height: 78px;
    padding-left: 3rem;
    padding-right: 50px;
    position: sticky;
    top: 0;
    width: 100%;
}

.center {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

    .page-header__item:last-child {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: right;
    }

.navigation-list {
    list-style-type: none;
}

    .navigation-list li {
        display: inline-block;
        margin-left: 15px;
    }

.navigation-list__item {
    font-weight: normal;
}

.navigation-list__item--active {
    text-decoration: none;
    font-weight: bold;
}

.navigation-list__item:hover {
    text-shadow: 1px 3px 5px #f30c29;
}

body {
    background-color: #1A1A1D;
    /* Currently only Raleway in use. Abel and Lato may be added later too*/
    font-family: 'Abel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #faedf2;
    line-height: 1.7;
}

main {
    padding: 5px 3rem;
}

aside {
    padding: 5px 3rem;
}

section {
    padding: 5px 3rem;
}

h1 {
    font-size: 30px;
    font-weight: 700px;
    color: #faedf2;
    -webkit-animation: slidein 3s;
    animation: slidein 3s;
}

h2 {
    font-size: 24px;
    font-weight: 700px;
    color: #faedf2;
}

h3 {
    font-size: 20px;
    font-weight: 700px;
    color: #faedf2;
}

a {
    font-weight: bold;
    color: #950740;
    /* No underlining when hovering over a link */
    text-decoration: none;
}

    a:visited {
        /*change of colors for visited links not wanted*/
    }

    a:hover {
        /* currently no customization in place */
        text-shadow: 1px 1px 1px #f57989;
    }

    a:focus {
        /* currently no customization in place */
        text-shadow: 1px 1px 1px #f57989;
    }

    a:active {
        /* selected link */
        color: white;
    }

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* styles the background color, font color, and text decoration of the button */
    background-color: #950740;
    color: white;
    font-weight: bold;
    text-decoration: none;
    /*adds spacing to the button*/
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* styles the background color, font color, and text decoration of the button */
    background-color: #950740;
    color: white;
    font-weight: bold;
    text-decoration: none;
    /*adds spacing to the button*/
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

    button:hover,
    button:focus,
    .button:focus,
    .button:hover {
        /* lets the mouse appear as a hand when hovering over the button*/
        cursor: pointer;
        /* reduces the opacity of the button to 80%*/
        opacity: 0.8;
    }

.buttonwithlink {
    text-decoration: none;
    color: #ffffff;
}

.page_footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-top: dotted;
    border-top-color: undefined;
    border-bottom: dotted;
    border-bottom-color: undefined;
    margin-top: 50px;
    background-color: #faedf2;
    color: black;
    opacity: 0.9;
}

input[type=submit] {
    background-color: #950740;
    color: white;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}

    input[type=submit]:hover {
        cursor: pointer;
        opacity: 0.8;
    }

@-webkit-keyframes slidein {
    from {
        margin-left: 10%;
        opacity: 0.1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        margin-left: 10%;
        opacity: 0.1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 2px 1rem;
    }

    aside {
        padding: 2px 1rem;
    }

    section {
        padding: 2px 1rem;
    }
}

/* 

    Colors I like:
    light orange: #fbda8b
    brown-orange (dark): #948773
    gold: #c8a224

*/

/*
   for

    <a href="https://www.google.com" class="my-link" id="my-link">A link</a>

    the descending selectors for css rules are:

    
    #my-link = id-selector
    -my-link = class selector
    a = element selector

    selectors to be choosen = ID>class>element

*/
