/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.skill-list {
    border: 2px solid #FFFFFF;
}

    .skill-list th {
        border: 1px solid #FFFFFF;
    }

    .skill-list th {
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .skill-list td {
        border: 5px;
        background-color: #6c6c6f;
        padding-left: 10px;
        padding-right: 10px;
        color: #faedf2;
    }

#article1-about {
    margin-top: 30px;
}

.qr__picture {
    float: none;
    width: 250px;
    margin-right: 40px;
}


/* 

    Colors I like:
    light orange: #fbda8b
    brown-orange (dark): #948773
    gold: #c8a224

*/

/*
   for

    <a href="https://www.google.com" class="my-link" id="my-link">A link</a>

    the descending selectors for css rules are:

    
    #my-link = id-selector
    -my-link = class selector
    a = element selector

    selectors to be choosen = ID>class>element

*/
