:root {
    --color-main-color: #1A1A1D;
    --color-secondary-color: #faedf2;
    --color-default-text: #faedf2;
    --color-table-bg: #6c6c6f;
    --color-unused-links: #950740;
    --color-hover-nav-links: #f30c29;
    --color-hover-body-links: #f57989;
    --color-active-linkes: white;
    --color-button-bg: #950740;
    --color-project-item: #2f2f35;
    --headline-font-weights: 700px;
    --box-shawdow: 1px 5px 5px #950740;
    --index-article-max-width: 900px;
    --index-article-margin-bottom: 100px;
    --index-article-margin: 0 auto;
    --opactiy-header-and-footer: 0.9;
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    box-shadow: var(--box-shawdow);
    background-color: var(--color-secondary-color);
    opacity: var(--opactiy-header-and-footer);
    min-height: 78px;
    padding-left: 3rem;
    padding-right: 50px;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
  }

.center {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header__item {
    flex: 0 1 200px;
}

    .page-header__item:last-child {
        flex-grow: 1;
        text-align: right;
    }

.navigation-list {
    list-style-type: none;
}

    .navigation-list li {
        display: inline-block;
        margin-left: 15px;
    }

.navigation-list__item {
    font-weight: normal;
}

.navigation-list__item--active {
    text-decoration: none;
    font-weight: bold;
}

.navigation-list__item:hover {
    text-shadow: 1px 3px 5px var(--color-hover-nav-links);
}

body {
    background-color: var(--color-main-color);
    /* Currently only Raleway in use. Abel and Lato may be added later too*/
    font-family: 'Abel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-default-text);
    line-height: 1.7;
}

main {
    padding: 5px 3rem;
}

aside {
    padding: 5px 3rem;
}

section {
    padding: 5px 3rem;
}

h1 {
    font-size: 30px;
    font-weight: var(--headline-font-weights);
    color: var(--color-default-text); 
    animation: slidein 3s;
}

h2 {
    font-size: 24px;
    font-weight: var(--headline-font-weights);
    color: var(--color-default-text);
}

h3 {
    font-size: 20px;
    font-weight: var(--headline-font-weights);
    color: var(--color-default-text);
}

a {
    font-weight: bold;
    color: var(--color-unused-links);
    /* No underlining when hovering over a link */
    text-decoration: none;
}
    /*a:visited {
        change of colors for visited links not wanted
    }*/

    a:hover,
    a:focus {
        /* currently no customization in place */
        text-shadow: 1px 1px 1px var(--color-hover-body-links);
    }

    a:active {
        /* selected link */
        color: var(--color-active-linkes);
    }

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* styles the background color, font color, and text decoration of the button */
    background-color: var(--color-button-bg);
    color: white;
    font-weight: bold;
    text-decoration: none;
    /*adds spacing to the button*/
    padding: 5px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

    button:hover,
    button:focus,
    .button:focus,
    .button:hover {
        /* lets the mouse appear as a hand when hovering over the button*/
        cursor: pointer;
        /* reduces the opacity of the button to 80%*/
        opacity: 0.8;
    }

.buttonwithlink {
    text-decoration: none;
    color: #ffffff;
}

.page_footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: dotted;
    border-top-color: var(--color-visited-links);
    border-bottom: dotted;
    border-bottom-color: var(--color-visited-links);
    margin-top: 50px;
    background-color: var(--color-secondary-color);
    color: black;
    opacity: var(--opactiy-header-and-footer);
}

input[type=submit] {
    background-color: var(--color-button-bg);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}

    input[type=submit]:hover {
        cursor: pointer;
        opacity: 0.8;
    }

@keyframes slidein {
    from {
        margin-left: 10%;
        opacity: 0.1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 2px 1rem;
    }

    aside {
        padding: 2px 1rem;
    }

    section {
        padding: 2px 1rem;
    }

}

/* 

    Colors I like:
    light orange: #fbda8b
    brown-orange (dark): #948773
    gold: #c8a224

*/

